#suggestion {
  display: none;
  text-align: center;
  color: #006666;
}

.jumbotron {
  text-align: center;
  background-color: #ffcc99;
}

body {
  font-family: trebuchet;
  background: rgba(147,206,222,1);
  }
}
